<ion-header>

  <ion-navbar>
    <ion-title text-center>Participantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      Evento
    </ion-card-header>

    <ion-card-content>
      {{ event?.Nome }}
      <p>{{ event?.Local }}</p>
    </ion-card-content>
  </ion-card>

  Lista de Participantes

</ion-content>
