<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let event of events" (click)="itemTapped($event, event)">
      <ion-icon name="boat" item-start></ion-icon>
      {{ event.Nome }}
      <div class="item-note" item-end>
        {{ event.Quando }}
      </div>
    </button>
  </ion-list>
</ion-content>
