<ion-header>

  <ion-navbar>
    <ion-title text-center margin-right>{{ event?.Nome }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <img [src]="event?.Imagem" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-start>
          Quando
      </ion-col>
      <ion-col col-6 text-right>
        {{ event?.Quando }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-start>
          Início
      </ion-col>
      <ion-col col-6 text-end>
        {{ event?.Inicio | date: 'dd/MM/yyyy' }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-start>
          Horário
      </ion-col>
      <ion-col col-6 text-end>
        {{ event?.Inicio | date: 'hh:mm' }}hs
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-start>
          Local
      </ion-col>
      <ion-col col-6 text-right>
        {{ event?.Local }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-start>
          Cliente
      </ion-col>
      <ion-col col-6 text-right>
        <img id="imgCliente" [src]="event?.ClienteImagem" alt="">
      </ion-col>
    </ion-row>

    <ion-row (click)="listParticipants(event?.Id)">
      <ion-col col-6 text-start>
          Participantes
      </ion-col>
      <ion-col col-6 text-right>
        <ion-icon ios="ios-contacts" md="md-contacts" icon-end></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
